.movieContainer {
  max-width: 20rem;
  min-height: 8rem;
  display: flex;
  background-color: rgba(20, 0, 51, 0.795);

  text-align: start;
  margin-top: 2rem;
}
.moviePoster {
  width: 80px;
  margin-right: 10px;
}
.tittle {
  color: #fff;
  font-size: 1.2rem;
}
.year {
  font-size: 1.5rem;
}
