.container {
  background-color: rgba(0, 0, 0, 0.411);
  text-align: center;
  min-height: 100vh;
}
.slidebar {
  width: 50%;
  margin: 0 auto;
  background-color: #4f29fa57;
}

.list {
  margin-top: 1rem;
  height: 30rem;
  overflow-y: scroll;
  background-color: black;
  padding-top: 1rem;
}
.btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: rgb(7, 7, 7);
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 1rem;
  border-radius: 11px;
}
.shopBtn {
  display: inline-block;

  font-size: 1.2rem;
  margin-top: 2rem;
}
.shopBtn:hover {
  background-color: #4f29faa1;
}
